@model IEnumerable<Trippy_Land.Models.ChuDeBaiVietVeDiaDiem>

@{
    ViewBag.Title = "Danh sách chủ đề";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<head>
    <style>
        .lnkbuttonXoa {
            /* change the image path as per your design */
            background: url(../../../../Content/Image/Icon/delete.png) no-repeat top left;
            display: block; /*change width and height as per your need*/
            width: 20px;
            height: 20px; /* hides the link text */
            text-indent: -9999px;
        }
        .lnkbuttonThemMoi {
            /* change the image path as per your design */
            background: url(../../../../Content/Image/Icon/edit.gif) no-repeat top left;
            display: block; /*change width and height as per your need*/
            width: 20px;
            height: 20px; /* hides the link text */
            text-indent: -9999px;
        }
    </style>
</head>*@
<p>
    @Html.ActionLink("Thêm mới chủ đề", "ThemMoiChuDe", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenChuDe)
        </th>
        <th>Nghiệp vụ xử lý</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenChuDe)
            </td>
            <td>              
                @Html.ActionLink("Sửa", "CapNhatChuDe", new { id = item.Id}, new { @class = "lnkbuttonSua" }) 
                @Html.ActionLink("Xóa", "XoaChuDe", new { id = item.Id }, new { @class = "lnkbuttonXoa" })
            </td>         
        </tr>
    }
</table>
