@model IEnumerable<Trippy_Land.Models.BaiVietVeDiaDiem>

@{
    ViewBag.Title = "DanhSachBaiViet";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>DanhSachBaiViet</h2>

<p>
    @Html.ActionLink("Thêm mới", "ThemMoiBaiViet", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
</p>
<table class="table table-bordered table-hover table-responsive" style="text-align:center">
    <tr>
        <th style="width: 500px;">
            @Html.DisplayNameFor(model => model.PictureId)
        </th>
        <th style="width: 100px;">
            @Html.DisplayNameFor(model => model.TenBaiViet)
        </th>
        <th style="width: 500px;">
            @Html.DisplayNameFor(model => model.TomTatBaiViet)
        </th>
        @*<th style="        width: 400px;">
                @Html.DisplayNameFor(model => model.NoiDungBaiViet)
            </th>*@

        <th style="        width: 50px;">
            @Html.DisplayNameFor(model => model.DaDuyet)
        </th>

        <th style="        width: 50px;">
            @Html.DisplayNameFor(model => model.ChuDeBaiVietVeDiaDiem.TenChuDe)
        </th>
        <th style="        width: 50px;">
            @Html.DisplayNameFor(model => model.DiaDiem.TenDiaDiem)
        </th>

        <th style="        width: 50px;">
            Nghiêp vụ
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Content/Image/BaiViet/@item.PictureId" width="1000" height="1000" class="img-thumbnail" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenBaiViet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TomTatBaiViet)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.NoiDungBaiViet)
                </td>*@
            <td>
                @if (item.DaDuyet.Equals(true))
                {
                    <img src="~/Content/Image/approved.png" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuDeBaiVietVeDiaDiem.TenChuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaDiem.TenDiaDiem)
            </td>
            <td>
                @Html.ActionLink("Sửa", "CapNhatBaiViet", new { id = item.Id }, new { @class = "lnkbuttonSua" })
                @Html.ActionLink("Xóa", "XoaBaiViet", new { id = item.Id }, new { @class = "lnkbuttonXoa" })
            </td>
        </tr>
    }
</table>
