@model IEnumerable<Trippy_Land.Models.BaiVietVeDiaDiem>

@{
    ViewBag.Title = "DanhSachBaiViet";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DanhSachBaiViet", "BaiVietVeDiaDiem", FormMethod.Post))
{
    <h2>Quản lý bài viết</h2>
    <fieldset>
        <legend>Nhập thông tin tìm kiếm</legend>
        <table style="width:100%;">
            <tr>
                <td style="width:10%;">Từ khóa:</td>
                <td style="width:20%;">
                    @Html.TextBox("tuKhoa", null,
                   new { @class = "form-control" })
                </td>
                
                <td style="width:10%;">Địa điểm:</td>
                <td style="width:25%;">
                    @*Hiển thị địa điểm*@
                    @Html.DropDownList("idDiaDiem", (SelectList)ViewBag.DiaDiem,
                   "---Địa điểm---", new { @class = "form-control" })
                </td>
                <td style="width:10%;">Chủ đề:</td>
                <td style="width:25%;">
                    @*Hiển thị danh sách chủ đề*@
                    @Html.DropDownList("idChuDe", (SelectList)ViewBag.ChuDe,
                   "---Chủ đề---", new { @class = "form-control" })
                </td>
                <td>
                    <input type="submit" value="Tìm kiếm" class="btn btn-primary" style="margin: 7.5px 0; text-align:right" ; />
                </td>
            </tr>
        </table>
    </fieldset>
}
<p>
    @Html.ActionLink("Thêm mới", "ThemMoiBaiViet", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
</p>
<table class="table table-bordered table-hover table-responsive" style="text-align:center">
    <tr>
        <th style="width: 500px;">
            @Html.DisplayNameFor(model => model.PictureId)
        </th>
        <th style="width: 100px;">
            @Html.DisplayNameFor(model => model.TenBaiViet)
        </th>
        <th style="width: 500px;">
            @Html.DisplayNameFor(model => model.TomTatBaiViet)
        </th>
        @*<th style="        width: 400px;">
                @Html.DisplayNameFor(model => model.NoiDungBaiViet)
            </th>*@

        <th style="        width: 50px;">
            @Html.DisplayNameFor(model => model.DaDuyet)
        </th>

        <th style="        width: 50px;">
            @Html.DisplayNameFor(model => model.ChuDeBaiVietVeDiaDiem.TenChuDe)
        </th>
        <th style="        width: 50px;">
            @Html.DisplayNameFor(model => model.DiaDiem.TenDiaDiem)
        </th>

        <th style="        width: 50px;">
            Nghiêp vụ
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Content/Image/BaiViet/@item.PictureId" width="1000" height="1000" class="img-thumbnail" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenBaiViet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TomTatBaiViet)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.NoiDungBaiViet)
                </td>*@
            <td>
                @if (item.DaDuyet.Equals(true))
                {
                    <img src="~/Content/Image/approved.png" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuDeBaiVietVeDiaDiem.TenChuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaDiem.TenDiaDiem)
            </td>
            <td>
                @Html.ActionLink("Sửa", "CapNhatBaiViet", new { id = item.Id }, new { @class = "lnkbuttonSua" })
                @Html.ActionLink("Xóa", "XoaBaiViet", new { id = item.Id }, new { @class = "lnkbuttonXoa" })
            </td>
        </tr>
    }
</table>
