@model IEnumerable<Trippy_Land.Models.User>

@{
    ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DanhSachUser", "User", FormMethod.Post))
{
    <h2>Quản lý thông tin người dùng</h2>
    <fieldset>
        <legend>Nhập thông tin tìm kiếm</legend>
        <table style="width:100%;">
            <tr>
                <td style="width:10%;">Từ khóa:</td>
                <td style="width:20%;">
                    @Html.TextBox("tuKhoa", null,
                   new { @class = "form-control" })
                </td>
                <td style="width:10%;">Loại người dùng:</td>
                <td style="width:20%;">
                    @*Hiển thị danh sách loại khách hàng*@
                    @Html.DropDownList("idUserRole", (SelectList)ViewBag.UserRole,
                   "---Loại---", new { @class = "form-control" })
                </td>
                <td>
                    <input type="submit" value="Tìm kiếm" class="btn btn-primary" style="margin: 7.5px 0; text-align:right" ; />
                </td>
            </tr>
        </table>
    </fieldset>
}
<p>
    @Html.ActionLink("Thêm mới", "ThemMoiUser", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
</p>
<table id="example" class="table table-striped table-bordered table-hover table-responsive" style="width:100%">
    <thead>
        <tr>
            <th style="width: 600px;">
                Ảnh đại diện
            </th>
            <th style="width: 150px;">
                @Html.DisplayNameFor(model => model.TenDangNhap)
            </th>
            <th style="width: 200px;">
                @Html.DisplayNameFor(model => model.TenNguoiDung)
            </th>
            <th style="width: 200px;">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th style="width: 100px;">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="width: 150px;">
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>

            <th style="width: 150px;">
                @Html.DisplayNameFor(model => model.UserRole.TenRole)
            </th>

            <th style="width: 150px;">
                Nghiệp vụ xử lý
            </th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Content/Image/User/@item.PictureId" width="1000" height="1000" class="img-thumbnail" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TenDangNhap)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TenNguoiDung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GioiTinh)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UserRole.TenRole)
                </td>

                <td>
                    @Html.ActionLink("Sửa", "CapNhatUser", new { id = item.Id }, new { @class = "lnkbuttonSua" })
                    @Html.ActionLink("Xóa", "XoaUser", new { id = item.Id }, new { @class = "lnkbuttonXoa" })
                </td>
            </tr>
        }
    </tbody>
</table>
