@model IEnumerable<Trippy_Land.Models.DiaDiem>

@{
    ViewBag.Title = "DanhSachDiaDiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách địa điểm</h2>

<p>
    @Html.ActionLink("Thêm mới", "ThemDiaDiem")
</p>
<table class="table table-bordered table-hover table-responsive" style="text-align:center">
    <tr>
        <th style="width: 300px;">
            @Html.DisplayNameFor(model => model.PictureId)
        </th>

        <th style="width: 150px;">
            @Html.DisplayNameFor(model => model.TenDiaDiem)
        </th>

        <th style="width: 200px;">
            @Html.DisplayNameFor(model => model.HoatDongChinh)
        </th>
        <th style="width: 200px;">
            @Html.DisplayNameFor(model => model.KinhNghiem)
        </th>
        <th style="width: 100px;">
            @Html.DisplayNameFor(model => model.Tinh.TenTinh)
        </th>
        <th style="width: 150px;">
            Nghiệp vụ xử lý
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Content/Image/DiaDiem/@item.PictureId" width="1000" height="1000" class="img-thumbnail" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TenDiaDiem)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.HoatDongChinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinhNghiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinh.TenTinh)
            </td>
            <td>
                @Html.ActionLink("Sửa", "CapNhatDiaDiem", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "XoaDiaDiem", new { id = item.Id })
            </td>
        </tr>
    }
</table>