@model Trippy_Land.Models.User
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Login/_Login.cshtml";
}
@using CaptchaMvc.HtmlHelpers
<style type="text/css">  
    input[name='CaptchaInputText'] {
        width: 250px !important;      
        
    }
    CaptchaImage {
        width: 200px !important;
        text-align:center;
    }
</style>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            @using (Html.BeginForm("SignUp", "Login", FormMethod.Post,
                new
                {
                    @class = "login100-form validate-form",
                    enctype = "multipart/form-data",
                    id = "Captcha"
                }))
            {
                @Html.AntiForgeryToken()
                <span class="login100-form-title p-b-34">
                    Having your best momment
                </span>
                <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-10" data-validate="Type user name">
                    @Html.TextBoxFor(m => m.TenDangNhap, new { @class = "input100", placeholder = "User name" })
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-10" data-validate="Type password">
                    @Html.PasswordFor(m => m.MatKhau, new { @class = "input100", placeholder = "Password" })
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-10" data-validate="Type password">
                    @Html.TextBoxFor(m => m.TenNguoiDung, new { @class = "input100", placeholder = "Full Name" })
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-10" data-validate="Type password">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "input100", placeholder = "PhoneNumber" })
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-10" data-validate="Type password">
                    @Html.TextBoxFor(m => m.Email, new { @class = "input100", placeholder = "Email" })
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-10" data-validate="Type password">
                    @Html.TextBoxFor(m => m.GioiTinh, new { @class = "input100", placeholder = "Male/Female" })
                    <span class="focus-input100"></span>
                </div>               
                <div class="m-b-10" style="width: 40%;">
                    @Html.Captcha("Refresh", "Hãy nhập mã Captcha ", 4, "Bắt buộc nhập mã Captcha", true)
                </div>
                <div class="container-login100-form-btn p-t-10 p-b-40">
                    <input type="submit" value=" Sign Up" class="login100-form-btn" />
                </div>
                <p>@ViewBag.error</p>
                <p>@ViewBag.ErrMessage</p>

                <div class="w-full text-center p-t-100 p-b-40">
                    <a href="~/Login/Login" class="txt3">
                        Return
                    </a>
                </div>
            }
            <div class="login100-more" style="background-image: url('@Url.Content("~/Login_Theme/images/pexels-oliver-sjöström-1020016.jpg")');">
            </div>
        </div>
    </div>
</div>

