<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trippy Land</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/animate.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/flaticon.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/style.css">
</head>

<body>
    @RenderBody()
    @Html.Partial("_Navigation")
    @Html.Partial("_Intro")
    @Html.Partial("_IntroQuotes")

    @* Hiển thị danh sách tỉnh *@
    @Html.Partial("_TakeYourDestination")

    @Html.Partial("_VideoAboveAboutUs")
    @Html.Partial("_About")
    @Html.Partial("_TouristFeedBack")
    @Html.Partial("_OurBlog")

    @* Không cần sửa *@
    @Html.Partial("_AskForQuote")
    @Html.Partial("_Footer")
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <script src="~/Trippy_Land_Theme/js/jquery.min.js"></script>
    <script src="~/Trippy_Land_Theme/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Trippy_Land_Theme/js/popper.min.js"></script>
    <script src="~/Trippy_Land_Theme/js/bootstrap.min.js"></script>
    <script src="~/Trippy_Land_Theme/js/jquery.easing.1.3.js"></script>
    <script src="~/Trippy_Land_Theme/js/jquery.waypoints.min.js"></script>
    <script src="~/Trippy_Land_Theme/js/jquery.stellar.min.js"></script>
    <script src="~/Trippy_Land_Theme/js/owl.carousel.min.js"></script>
    <script src="~/Trippy_Land_Theme/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Trippy_Land_Theme/js/jquery.animateNumber.min.js"></script>
    <script src="~/Trippy_Land_Theme/js/bootstrap-datepicker.js"></script>
    <script src="~/Trippy_Land_Theme/js/scrollax.min.js"></script>    
    <script src="~/Trippy_Land_Theme/js/google-map.js"></script>
    <script src="~/Trippy_Land_Theme/js/main.js"></script>

</body>
</html>
