
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trippy Land</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/animate.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/flaticon.css">
    <link rel="stylesheet" href="~/Trippy_Land_Theme/css/style.css">
</head>
<body>
        @RenderBody()
        @Html.Partial("_Navigation")
        @Html.Partial("_Intro")
        @Html.Partial("_IntroQuotes")
      
        <section class="ftco-section img ftco-select-destination" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/bg_3.jpg")');">
            <div class="container">
                <div class="row justify-content-center pb-4">
                    <div class="col-md-12 heading-section text-center ftco-animate">
                        <span class="subheading">The Trippy Way</span>
                        <h2 class="mb-4">Take your Trippy Destination</h2>
                    </div>
                </div>
            </div>
            <div class="container container-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="carousel-destination owl-carousel ftco-animate">
                            <div class="item">
                                <div class="project-destination">
                                    <a href="#" class="img" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/place-1.jpg")');">
                                        <div class="text">
                                            <h3>Philippines</h3>
                                            <span>8 Tours</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="project-destination">
                                    <a href="#" class="img" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/place-2.jpg")');">
                                        <div class="text">
                                            <h3>Canada</h3>
                                            <span>2 Tours</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="project-destination">
                                    <a href="#" class="img" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/place-3.jpg")');">
                                        <div class="text">
                                            <h3>Thailand</h3>
                                            <span>5 Tours</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="project-destination">
                                    <a href="#" class="img" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/place-4.jpg")');">
                                        <div class="text">
                                            <h3>Autralia</h3>
                                            <span>5 Tours</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="project-destination">
                                    <a href="#" class="img" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/place-5.jpg")');">
                                        <div class="text">
                                            <h3>Greece</h3>
                                            <span>7 Tours</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section ftco-about img" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/bg_4.jpg")');">
            <div class="overlay">
            </div>
            <div class="container py-md-5">
                <div class="row py-md-5">
                    <div class="col-md d-flex align-items-center justify-content-center">
                        <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
                            <span class="fa fa-play"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section ftco-about ftco-no-pt img">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-md-12 about-intro">
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-stretch">
                                <div class="img d-flex w-100 align-items-center justify-content-center" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/about-1.jpg")');">
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-5 py-5">
                                <div class="row justify-content-start pb-3">
                                    <div class="col-md-12 heading-section ftco-animate">
                                        <span class="subheading">About Us</span>
                                        <h2 class="mb-4">Make Your Tour Memorable and Safe With Us</h2>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                        <p><a href="#" class="btn btn-primary">Book Your Destination</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section testimony-section bg-bottom" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/bg_1.jpg")');">
            <div class="overlay">
            </div>
            <div class="container">
                <div class="row justify-content-center pb-4">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                        <span class="subheading">Testimonial</span>
                        <h2 class="mb-4">Tourist Feedback</h2>
                    </div>
                </div>
                <div class="row ftco-animate">
                    <div class="col-md-12">
                        <div class="carousel-testimony owl-carousel">
                            <div class="item">
                                <div class="testimony-wrap py-4">
                                    <div class="text">
                                        <p class="star">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </p>
                                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <div class="d-flex align-items-center">
                                            <div class="user-img" style="        background-image: url('@Url.Content("~/Trippy_Land_Theme/images/person_1.jpg")')"></div>
                                            <div class="pl-3">
                                                <p class="name">Roger Scott</p>
                                                <span class="position">Marketing Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4">
                                    <div class="text">
                                        <p class="star">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </p>
                                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <div class="d-flex align-items-center">
                                            <div class="user-img" style="        background-image: url('@Url.Content("~/Trippy_Land_Theme/images/person_2.jpg")')"></div>
                                            <div class="pl-3">
                                                <p class="name">Roger Scott</p>
                                                <span class="position">Marketing Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4">
                                    <div class="text">
                                        <p class="star">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </p>
                                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <div class="d-flex align-items-center">
                                            <div class="user-img" style="        background-image: url('@Url.Content("~/Trippy_Land_Theme/images/person_3.jpg")')"></div>
                                            <div class="pl-3">
                                                <p class="name">Roger Scott</p>
                                                <span class="position">Marketing Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4">
                                    <div class="text">
                                        <p class="star">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </p>
                                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <div class="d-flex align-items-center">
                                            <div class="user-img" style="        background-image: url('@Url.Content("~/Trippy_Land_Theme/images/person_1.jpg")')"></div>
                                            <div class="pl-3">
                                                <p class="name">Roger Scott</p>
                                                <span class="position">Marketing Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4">
                                    <div class="text">
                                        <p class="star">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </p>
                                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <div class="d-flex align-items-center">
                                            <div class="user-img" style="        background-image: url('@Url.Content("~/Trippy_Land_Theme/images/person_2.jpg")')"></div>
                                            <div class="pl-3">
                                                <p class="name">Roger Scott</p>
                                                <span class="position">Marketing Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center pb-4">
                    <div class="col-md-12 heading-section text-center ftco-animate">
                        <span class="subheading">Our Blog</span>
                        <h2 class="mb-4">Recent Post</h2>
                    </div>
                </div>
                <div class="row d-flex">
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="blog-entry justify-content-end">
                            <a href="blog-single.html" class="block-20" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/image_1.jpg")');">
                            </a>
                            <div class="text">
                                <div class="d-flex align-items-center mb-4 topp">
                                    <div class="one">
                                        <span class="day">11</span>
                                    </div>
                                    <div class="two">
                                        <span class="yr">2020</span>
                                        <span class="mos">September</span>
                                    </div>
                                </div>
                                <h3 class="heading"><a href="#">Most Popular Place In This World</a></h3>
                                <!-- <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p> -->
                                <p><a href="#" class="btn btn-primary">Read more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="blog-entry justify-content-end">
                            <a href="blog-single.html" class="block-20" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/image_2.jpg")');">
                            </a>
                            <div class="text">
                                <div class="d-flex align-items-center mb-4 topp">
                                    <div class="one">
                                        <span class="day">11</span>
                                    </div>
                                    <div class="two">
                                        <span class="yr">2020</span>
                                        <span class="mos">September</span>
                                    </div>
                                </div>
                                <h3 class="heading"><a href="#">Most Popular Place In This World</a></h3>
                                <!-- <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p> -->
                                <p><a href="#" class="btn btn-primary">Read more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="blog-entry">
                            <a href="blog-single.html" class="block-20" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/image_3.jpg")');">
                            </a>
                            <div class="text">
                                <div class="d-flex align-items-center mb-4 topp">
                                    <div class="one">
                                        <span class="day">11</span>
                                    </div>
                                    <div class="two">
                                        <span class="yr">2020</span>
                                        <span class="mos">September</span>
                                    </div>
                                </div>
                                <h3 class="heading"><a href="#">Most Popular Place In This World</a></h3>
                                <!-- <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p> -->
                                <p><a href="#" class="btn btn-primary">Read more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-intro ftco-section ftco-no-pt">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <div class="img" style="background-image: url('@Url.Content("images/bg_2.jpg")');">
                            <div class="overlay"></div>
                            <h2>We Are Pacific A Travel Agency</h2>
                            <p>We can manage your dream building A small river named Duden flows by their place</p>
                            <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Ask For A Quote</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @Html.Partial("_Footer")
        <!-- loader -->
        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
        <script src="~/Trippy_Land_Theme/js/jquery.min.js"></script>
        <script src="~/Trippy_Land_Theme/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="~/Trippy_Land_Theme/js/popper.min.js"></script>
        <script src="~/Trippy_Land_Theme/js/bootstrap.min.js"></script>
        <script src="~/Trippy_Land_Theme/js/jquery.easing.1.3.js"></script>
        <script src="~/Trippy_Land_Theme/js/jquery.waypoints.min.js"></script>
        <script src="~/Trippy_Land_Theme/js/jquery.stellar.min.js"></script>
        <script src="~/Trippy_Land_Theme/js/owl.carousel.min.js"></script>
        <script src="~/Trippy_Land_Theme/js/jquery.magnific-popup.min.js"></script>
        <script src="~/Trippy_Land_Theme/js/jquery.animateNumber.min.js"></script>
        <script src="~/Trippy_Land_Theme/js/bootstrap-datepicker.js"></script>
        <script src="~/Trippy_Land_Theme/js/scrollax.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="~/Trippy_Land_Theme/js/google-map.js"></script>
        <script src="~/Trippy_Land_Theme/js/main.js"></script>
    </body>
</html>
