<!DOCTYPE html>
<html lang="en">
@Html.Partial("_Head")

<body>
    @RenderBody()
    @Html.Partial("_Navigation")
    @Html.Partial("_Intro")
    @Html.Partial("_IntroQuotes")

    @* Hiển thị danh sách tỉnh *@
    @Html.Partial("_TakeYourDestination")

    @Html.Partial("_VideoAboveAboutUs")
    @Html.Partial("_About")
    @Html.Partial("_TouristFeedBack")
    @Html.Partial("_OurBlog")

    @* Không cần sửa *@
    @Html.Partial("_AskForQuote")
    @Html.Partial("_Footer")
    <!-- loader -->
   @Html.Partial("_Loader")
</body>
</html>
