@model Trippy_Land.Models.BaiVietVeDiaDiem
@{
    var user = new Trippy_Land.Models.User();
}
<!DOCTYPE html>
<html lang="en">
@Html.Partial("_Head")
<body>
    @Html.Partial("_Navigation")
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/nordic_landscape-wallpaper-1920x1080.jpg")');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="~/home/index">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="~/home/blog">Blog <i class="fa fa-chevron-right"></i></a></span> <span>Blog Detail<i class="fa fa-chevron-right"></i></span></p>
                    <h1 class="mb-0 bread">Blog Details</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row">
                <div class=" ftco-animate py-md-5 mt-md-5">
                    <h2 class="mb-3">@Model.TenBaiViet</h2>
                    <div style="text-align:center">
                        @Html.Raw(Model.NoiDungBaiViet)
                    </div>                
                    <div class="tag-widget post-tag-container mb-10 m-t-10">
                        <div class="tagcloud">
                            <a class="tag-cloud-link">
                                @Html.DisplayFor(modelItem => Model.ChuDeBaiVietVeDiaDiem.TenChuDe)
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 about-author d-flex p-4 bg-light">
                        <div class="bio mr-5">
                            <img src="~/Trippy_Land_Theme/images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
                        </div>
                        <div class="desc">
                            @* Comment *@
                            <h3>Phạm Nguyên Vũ</h3>
                            <p>
                                Thật tuyệt vời !
                            </p>
                        </div>
                    </div>
                </div> <!-- .col-md-8 -->
            
            </div>
        </div>
    </section> <!-- .section -->
    <div>
    </div>
    @* Không cần sửa *@
    @Html.Partial("_AskForQuote")
    @Html.Partial("_Footer")
    <!-- loader -->
    @Html.Partial("_Loader")
</body>
</html>
