<!DOCTYPE html>
<html lang="en">
@Html.Partial("_Head")
<body>
    @Html.Partial("_Navigation")
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/nordic_landscape-wallpaper-1920x1080.jpg")');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="~/home/index">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="~/home/blog">Blog <i class="fa fa-chevron-right"></i></a></span> <span>Blog Detail<i class="fa fa-chevron-right"></i></span></p>
                    <h1 class="mb-0 bread">Blog Details</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate py-md-5 mt-md-5">
                    <h2 class="mb-3">It is a long established fact a reader be distracted</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Reiciendis, eius mollitia suscipit, quisquam doloremque distinctio 
                    perferendis et doloribus unde architecto optio laboriosam porro 
                    adipisci sapiente officiis nemo accusamus ad praesentium? Esse 
                    minima nisi et. Dolore perferendis, enim praesentium omnis, iste 
                    doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.</p>
                    <p>
                        <img src="~/Trippy_Land_Theme/images/bg_5.jpg" alt="" class="img-fluid">
                    </p>
                    <p>Molestiae cupiditate inventore animi, 
                    maxime sapiente optio, illo est nemo veritatis 
                    repellat sunt doloribus nesciunt! Minima laborum 
                    magni reiciendis qui voluptate quisquam voluptatem 
                    soluta illo eum ullam incidunt rem assumenda eveniet 
                    eaque sequi deleniti tenetur dolore amet fugit 
                    perspiciatis ipsa, odit. Nesciunt dolor minima 
                    esse vero ut ea, repudiandae suscipit!</p>
                    <h2 class="mb-3 mt-5">#2. Creative WordPress Themes</h2>
                    <p>Temporibus ad error suscipit exercitationem hic 
                    molestiae totam obcaecati rerum, eius aut, in. 
                    Exercitationem atque quidem tempora maiores ex 
                    architecto voluptatum aut officia doloremque. 
                    Error dolore voluptas, omnis molestias odio 
                    dignissimos culpa ex earum nisi consequatur 
                    quos odit quasi repellat qui officiis reiciendis 
                    incidunt hic non? Debitis commodi aut, adipisci.</p>
                    <p>
                        <img src="~/Trippy_Land_Theme/images/bg_1.jpg" alt="" class="img-fluid">
                    </p>
                    <p>Quisquam esse aliquam fuga distinctio, 
                    quidem delectus veritatis reiciendis. Nihil 
                    explicabo quod, est eos ipsum. Unde aut non 
                    tenetur tempore, nisi culpa voluptate maiores 
                    officiis quis vel ab consectetur suscipit 
                    veritatis nulla quos quia aspernatur perferendis, 
                    libero sint. Error, velit, porro. Deserunt minus,
                    quibusdam iste enim veniam, modi rem maiores.</p>
                    <div class="tag-widget post-tag-container mb-5 mt-5">
                        <div class="tagcloud">
                            <a href="#" class="tag-cloud-link">Life</a>
                            <a href="#" class="tag-cloud-link">Sport</a>
                            <a href="#" class="tag-cloud-link">Tech</a>
                            <a href="#" class="tag-cloud-link">Travel</a>
                        </div>
                    </div>

                    <div class="about-author d-flex p-4 bg-light">
                        <div class="bio mr-5">
                            <img src="~/Trippy_Land_Theme/images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
                        </div>
                        <div class="desc">
                            <h3>George Washington</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Ducimus itaque, autem necessitatibus voluptate quod mollitia 
                            delectus aut, sunt placeat nam vero culpa sapiente consectetur
                            similique, inventore eos fugit cupiditate numquam!</p>
                        </div>
                    </div>


                    <div class="pt-5 mt-5">
                        <h3 class="mb-5" style="font-size: 20px; font-weight: bold;">Something ... </h3>
                        <ul class="comment-list">                           
                        </ul>
                        <!-- END comment-list -->
                    </div>
                </div> <!-- .col-md-8 -->
                <div class="col-lg-4 sidebar ftco-animate bg-light py-md-5">
                    <div class="sidebar-box pt-md-5">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon fa fa-search"></span>
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <div class="categories">
                            <h3>Categories</h3>
                            <li><a href="#">Travel <span>(12)</span></a></li>
                            <li><a href="#">Tour <span>(22)</span></a></li>
                            <li><a href="#">Destination <span>(37)</span></a></li>
                            <li><a href="#">Drinks <span>(42)</span></a></li>
                            <li><a href="#">Foods <span>(14)</span></a></li>
                            <li><a href="#">Travel <span>(140)</span></a></li>
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3>Recent Blog</h3>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="fa fa-calendar"></span> September 11, 2020</a></div>
                                    <div><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                                    <div><a href="#"><span class="fa fa-comment"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="fa fa-calendar"></span> September 11, 2020</a></div>
                                    <div><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                                    <div><a href="#"><span class="fa fa-comment"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(images/image_3.jpg);"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="fa fa-calendar"></span> September 11, 2020</a></div>
                                    <div><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                                    <div><a href="#"><span class="fa fa-comment"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3>Tag Cloud</h3>
                        <div class="tagcloud">
                            <a href="#" class="tag-cloud-link">dish</a>
                            <a href="#" class="tag-cloud-link">menu</a>
                            <a href="#" class="tag-cloud-link">food</a>
                            <a href="#" class="tag-cloud-link">sweet</a>
                            <a href="#" class="tag-cloud-link">tasty</a>
                            <a href="#" class="tag-cloud-link">delicious</a>
                            <a href="#" class="tag-cloud-link">desserts</a>
                            <a href="#" class="tag-cloud-link">drinks</a>
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3>Paragraph</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ducimus itaque, autem necessitatibus voluptate quod mollitia 
                        delectus aut, sunt placeat nam vero culpa sapiente consectetur 
                        similique, inventore eos fugit cupiditate numquam!</p>
                    </div>
                </div>

            </div>
        </div>
    </section> <!-- .section -->
    <div>
    </div>
    @* Không cần sửa *@
    @Html.Partial("_AskForQuote")
    @Html.Partial("_Footer")
    <!-- loader -->
    @Html.Partial("_Loader")
</body>
</html>
