@model IEnumerable<Trippy_Land.Models.BaiVietVeDiaDiem>
<!DOCTYPE html>
<html lang="en">
@Html.Partial("_Head")
<body>
    @Html.Partial("_Navigation")
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/bg_1.jpg")');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="~/home/index">Home <i class="fa fa-chevron-right"></i></a></span> <span>Blog <i class="fa fa-chevron-right"></i></span></p>
                    <h1 class="mb-0 bread">Blog</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row d-flex">
                @foreach (var item in Model)
                {
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <a href="blog-single.html" class="block-20" style="background-image: url('@Url.Content("~/Content/Image/BaiViet/" + item.PictureId)');">
                        </a>
                        <div class="text">
                            <div class="d-flex align-items-center mb-4 topp">
                                <div class="one">
                                    <span class="day">@item.DataCreated.Day</span>
                                </div>
                                <div class="two">
                                    <span class="yr">@item.DataCreated.Year</span>
                                    <span class="mos">@item.DataCreated.Month</span>
                                </div>
                            </div>
                            <h3 class="heading"><a href="#">@item.TenBaiViet</a></h3>
                            <p>@item.TomTatBaiViet.</p>
                            <p><a href="#" class="btn btn-primary">Chi tiết</a></p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
    @* Không cần sửa *@
    @Html.Partial("_AskForQuote")
    @Html.Partial("_Footer")
    <!-- loader -->
    @Html.Partial("_Loader")
</body>
</html>
