@model IEnumerable<Trippy_Land.Models.MonAn>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetFoodByProvinceId</title>
</head>
<body>
   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tinh.TenTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenMonAn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiTiet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LichSuaMonAn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguyenLieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CachLam)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tinh.TenTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMonAn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiTiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LichSuaMonAn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguyenLieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CachLam)
            </td>
            
        </tr>
    }
    
    </table>
</body>
</html>
