@model PagedList.IPagedList<Trippy_Land.Models.KhachSan>
@using PagedList.Mvc;
<!DOCTYPE html>
<html>
@Html.Partial("_Head")
<body>
    <style>
        div.relative {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 1%;
            font-size: xx-large;
            border-radius: 5px;
            text-align: center;
        }

            div.relative:hover {
            }
    </style>
    @Html.Partial("_Navigation")
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/hotel_room-wallpaper-1920x1080.jpg")');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="~/Home/Index">Home <i class="fa fa-chevron-right"></i></a></span> <span>Hotel <i class="fa fa-chevron-right"></i></span></p>
                    <h1 class="mb-0 bread">Hotel</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                @foreach (var h in Model)
                {
                    <div class="col-md-4 ftco-animate">
                        <div class="project-wrap hotel">
                            <a href="#" class="img" style="background-image: url('@Url.Content("~/Content/Image/KhachSan/"+ h.PictureId)');">
                                <span class="price">@h.Price$ / 1 Night</span>
                            </a>
                            <div class="text p-4">
                                <span class="days">@h.ChiTiet</span>
                                <h3><a href="#">@h.TenKhachSan</a></h3>
                                <p class="location"><span class="fa fa-map-marker"></span> @h.DiaDiemChiTiet</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <div class="relative">
        <strong>
            @Html.PagedListPager(Model, page => Url.Action("GetHotelByProvinceId",
     new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </strong>
    </div>
    <!-- loader -->
    @Html.Partial("_Loader")
    @Html.Partial("_AskForQuote")
    @Html.Partial("_Footer")
</body>
</html>
