@model IEnumerable<Trippy_Land.Models.DiaDiem>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetLocationByProvinceId</title>
</head>
<body>
   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tinh.TenTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDiaDiem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoatDongChinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KinhNghiem)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tinh.TenTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDiaDiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoatDongChinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinhNghiem)
            </td>
           
        </tr>
    }
    </table>
</body>
</html>
