@model IEnumerable<Trippy_Land.Models.UserRole>

@{
    ViewBag.Title = "Danh sách User Role";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .lnkbuttonXoa {
        /* change the image path as per your design */
        background: url(../../../../Content/Image/Icon/delete.png) no-repeat top left;
        display: block; /*change width and height as per your need*/
        width: 20px;
        height: 20px; /* hides the link text */
        text-indent: -9999px;
    }

    .lnkbuttonThemMoi {
        /* change the image path as per your design */
        background: url(../../../../Content/Image/Icon/edit.gif) no-repeat top left;
        display: block; /*change width and height as per your need*/
        width: 20px;
        height: 20px; /* hides the link text */
        text-indent: -9999px;
    }
</style>
<h2>Danh sách User Role</h2>

<p>
    @Html.ActionLink("Thêm mới", "ThemMoiUserRole",routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>Nghiệp vụ xử lý</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>          
            @Html.ActionLink("Xóa", "XoaUserRole", new { id=item.Id }, new { @class = "lnkbuttonXoa" })
        </td>
    </tr>
}
</table>
