@model IEnumerable<Trippy_Land.Models.MonAn>

@{
    ViewBag.Title = "Danh sách món ăn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("DanhSachMonAn", "MonAn", FormMethod.Post))
{
    <h2>Quản lý thông tin món ăn</h2>
    <fieldset>
        <legend>Nhập thông tin tìm kiếm</legend>
        <table style="width:100%;">
            <tr>
                <td style="width:10%;">Từ khóa:</td>
                <td style="width:30%;">
                    @Html.TextBox("tuKhoa", null,
                   new { @class = "form-control" })
                </td>
                <td style="width:10%;">Tỉnh thành:</td>
                <td style="width:30%;">
                    @*Hiển thị danh sách loại khách hàng*@
                    @Html.DropDownList("idTinh", (SelectList)ViewBag.Tinh,
                   "---Tỉnh thành---", new { @class = "form-control" })
                </td>
                <td>
                    <input type="submit" value="Tìm kiếm" class="btn btn-primary" style="margin: 7.5px 0; text-align:right" ; />
                </td>
            </tr>
        </table>
    </fieldset>
}
<p>
    @Html.ActionLink("Thêm mới", "ThemMonAn", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
</p>
<table class="table table-bordered table-hover table-responsive" style="text-align:center">
    <tr>
        <th style="width: 200px;">
            @Html.DisplayNameFor(model => model.PictureId)
        </th>
        <th style="width: 100px;">
            @Html.DisplayNameFor(model => model.TenMonAn)
        </th>
        <th style="width: 200px;">
            @Html.DisplayNameFor(model => model.ChiTiet)
        </th>
        <th style="width: 200px;">
            @Html.DisplayNameFor(model => model.LichSuaMonAn)
        </th>
        @*<th style="width: 200px;">
                @Html.DisplayNameFor(model => model.NguyenLieu)
            </th>
            <th style="width: 200px;">
                @Html.DisplayNameFor(model => model.CachLam)
            </th>*@
        <th style="width: 100px;">
            @Html.DisplayNameFor(model => model.Tinh.TenTinh)
        </th>
        <th style="width: 150px;">
            Nghiệp vụ xử lý
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Content/Image/MonAn/@item.PictureId" width="1000" height="1000" class="img-thumbnail" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMonAn)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ChiTiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LichSuaMonAn)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.NguyenLieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CachLam)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Tinh.TenTinh)
            </td>
            <td>
                @Html.ActionLink("Sửa", "CapNhatMonAn", new { id = item.Id }, new { @class = "lnkbuttonSua" })
                @Html.ActionLink("Xóa", "XoaMonAn", new { id = item.Id }, new { @class = "lnkbuttonXoa" })
            </td>
        </tr>
    }
</table>