@model IEnumerable<Trippy_Land.Models.KhachSan>

@{
    ViewBag.Title = "Danh sách khách sạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách khách sạn</h2>

<p>
    @Html.ActionLink("Thêm mới khách sạn", "ThemKhachSan")
</p>
<table class="table table-bordered table-hover table-responsive" style="text-align:center">
    <tr>
        <th style="width: 250px;">
            @Html.DisplayNameFor(model => model.PictureId)
        </th>

        <th style="width: 150px;">
            @Html.DisplayNameFor(model => model.TenKhachSan)
        </th>

        <th style="width: 250px;">
            @Html.DisplayNameFor(model => model.ChiTiet)
        </th>
        @*<th style="width: 200px;">
                @Html.DisplayNameFor(model => model.LichSuKhachSan)
            </th>*@
        <th style="width: 100px;">
            @Html.DisplayNameFor(model => model.DiaDiemChiTiet)
        </th>
        <th style="width: 100px;">
            @Html.DisplayNameFor(model => model.Tinh.TenTinh)
        </th>
        <th style="width: 150px;">
            Nghiệp vụ xử lý
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Content/Image/KhachSan/@item.PictureId" width="1000" height="1000" class="img-thumbnail" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TenKhachSan)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ChiTiet)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.LichSuKhachSan)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DiaDiemChiTiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinh.TenTinh)
            </td>
            <td>
                @Html.ActionLink("Sửa", "CapNhatKhachSan", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "XoaKhachSan", new { id = item.Id })
            </td>
        </tr>
    }
</table>